/* Paleta de colores */
/* Amarillo: #EAC926; Azul: #03264C; Celeste: #1259c3; Gris oscuro: #666; Gris claro: #ebebeb; Verde: #39b54a; */
* { margin: 0px; padding: 0px; box-sizing: border-box; }
   

/* Tipografía */
body { font-family: 'Roboto'; font-size: 12px; }

/* Tamaños tipográfios  */
.titulares { font-size: 24px; }
.precios { font-size: 18px; width: 30%; }
.descuentos { font-size: 16px; color: #39b54a; width: 70%; } 
.descripciones { visibility: hidden; font-size: 16px; }

/* Iconos */
.burger-menu { display: block; text-align: center; padding:  10px; }
.fa-bars { background-color: #1259c3; color: white; padding: 8px; border-radius: 5px; }

/* Estilos Pie de Página */
footer { align-items: center; text-align: center; margin-bottom: 10px; }
.fa-credit-card, .fa-gift, .fa-user-shield { color: #1259c3; font-size: 2em; margin: 8px; }

/* Estilos Encabezado*/
a:link, a:visited, a:active { text-decoration:none; color: black; font-weight: bolder; }
header { background-color:#EAC926; }
.encabezado { width: 100%; display: flex; padding: 10px; }
.logo { padding: 8px; width: 50%; }
.barra-busqueda { width: 50%; display: flex; align-items: center; justify-content: center; }
.barra-busqueda div { align-self: center; height: 70%; padding: 5px 8px; }
.barra-busqueda div input { height: 100%; width: 80%; border-radius: 5px; }
.barra-busqueda div button { height: 100%; width: 15%; border-radius: 5px; }
.mensaje { text-align: center; padding: 10px;}
.site-options { display: none; }
.login-navbar { display: none; }

/* Productos en el sitio */
main { margin: 0 auto; width: 90%; background-color: #ebebeb; padding: 5px;}
.img-banner { width: 100%;}
.general-box { display: flex; flex-direction: row; justify-content: center; align-items: center;
    flex-wrap: wrap; padding: 3px; margin: 5px; }
.box { margin: 10px; background-color: white; width: 100%;}
.box-details { border-top: solid 1px #ebebeb; padding: 15px; }
.costo { display: flex; margin: 5px; text-align: center; }
.img { width: 100%; }
.fa-truck { display: block; font-size: 16px; padding: 5px; width: 30px; height: 30px;
    border: 1px solid #39b54a; background-color: #FFF; color: #39b54a; border-radius: 50%; 
    position: relative; }

/* Register Form*/
form { margin: 0 auto; width: 80%;
     display: flex; flex-wrap: wrap; justify-content: center; }
form div { width: 80%; margin: 12px; padding: 6px;}
form div label { font-weight: bolder; }
form div input { width: 100%; }
.buttons { display: flex; justify-content: center; padding: 3px; }
.buttons button { margin: 3px; }

/* Transición */
.descripciones:hover { font-size: xx-large; color: #39b54a;
    transition-property: font-size, color;
    transition-duration: 2s;
}
.button-submit:hover { background-color:#0022AA;
    transition-property: background-color;
    transition-duration: 2s;
}
.box:hover { border: solid 2px #39b54a;
    transition-property: border;
    transition-duration: 2s;
}


/* Puntos de corte*/
@media (min-width: 361px) {
    /* Tablets */
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        font-size: 16px;
    }
    .burger-menu { display: none; }
    .site-options { display: block; }
    .login-navbar { display: block; }

    .box { width: 40%; }

    .cabecera { width: 100%; display: flex; align-items: center; justify-content: center;}
    .encabezado { width: 75%; display: flex; }
    .logo { padding: 8px; width: 50%; }
    .barra-busqueda { width: 50%; display: flex; }
    .barra-busqueda div { align-self: center; height: 70%; padding: 5px 8px; }
    .barra-busqueda div input { height: 100%; width: 80%; border-radius: 5px; }
    .barra-busqueda div button {height: 100%; border-radius: 5px;}
    .mensaje { width: 25%; font-size: 12px; }

    .navbars { display: flex; align-items: center; justify-content: center; }
    .site-options { display: flex; justify-content: start; font-size: 8px; width: 50%;}
    .site-options li { margin: 2px; padding: 1px; }
    .login-navbar { display: flex; justify-content: end; font-size: 8px; width: 50%; }
    .login-navbar li { margin: 2px; padding: 1px; }

    .descripciones { visibility: visible; }

    form { width: 60%;}

}
@media (min-width: 769px) {
    /* Laptop */
    /*.cabecera { background-color: coral; }*/
    .mensaje { font-size: 16px; }
    .barra-busqueda div { height: 40%; }
    .site-options li { font-size: 14px; }
    .login-navbar li { font-size: 14px; }
    .box { width: 20%;}

    form { width: 45%;}

    .footer-elements { display: flex; justify-content: center; align-items: center; margin: 9px; padding: 5px; }
    .footer-elements div { width: 33%; }
    .fa-credit-card, .fa-gift, .fa-user-shield { color:#39b54a; margin: 9px; }
}
















