<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MercadoLiebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    
    <body>
        <header>
            <div class="cabecera">
                <div class="encabezado">
                    <div class="logo">
                        <a href="/">
                            <img src="images/logo-mercado-liebre.svg" alt="logoMercadoLiebre">
                        </a>    
                    </div>
                    
                    <div class="barra-busqueda">
                        <div>
                            <input placeholder="Buscar productos, marcas">
                            <button><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            

                <div class="mensaje">
                    <i class="fas fa-hand-holding-usd"> Comprá en cuotas y sin tarjeta de crédito</i>
                </div>
            </div>
            
            <div class="navbars">
                <ul class="site-options" style="list-style-type:none;">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="login-navbar" style="list-style-type:none;">
                    <li><a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        
        <main>
            <img class="img-banner" src="images/img-home-banner.jpg">
            <h2 class="titulares">Básado en tu última visita</h2>
            <div class="general-box">
                <div class="box">
                    <img class="img" src="images/img-cafetera-moulinex.jpg">
                    <div class="box-details"> 
                        <i class="fas fa-truck"></i>
                        <div class="costo">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <h3 class="descripciones">Cafetera Moulinex</h3>
                    </div>
                </div>
                <div class="box">
                    <img class="img" src="images/img-macbook-pro-2019.jpg">
                    <div class="box-details"> 
                        <i class="fas fa-truck"></i>
                        <div class="costo">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h3 class="descripciones">MacBook Pro 2019</h3>
                    </div>
                </div>
                <div class="box">
                    <img class="img" src="images/img-samsung-galaxy-s10.jpg">
                    <div class="box-details">    
                        <i class="fas fa-truck"></i>
                        <div class="costo">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h3 class="descripciones">Samsung Galaxy S10</h3>
                    </div>
                </div>
                <div class="box">
                    <img class="img" src="images/img-tv-samsung-smart.jpg">
                    <div class="box-details">
                        <i class="fas fa-truck"></i>
                        <div class="costo">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h3 class="descripciones">SmartTV Samsung 43"</h3>
                    </div>
                </div>
           
                <div class="box">
                    <img class="img" src="images/img-cafetera-moulinex.jpg">
                    <div class="box-details"> 
                        <i class="fas fa-truck"></i>
                        <div class="costo">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <h3 class="descripciones">Cafetera Moulinex</h3>
                    </div>  
                </div>  
                <div class="box">
                    <img class="img" src="images/img-macbook-pro-2019.jpg">
                    <div class="box-details"> 
                        <i class="fas fa-truck"></i>
                        <div class="costo">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h3 class="descripciones">MacBook Pro 2019</h3>  
                    </div>  
                </div>
                <div class="box">
                    <img class="img" src="images/img-samsung-galaxy-s10.jpg">
                    <div class="box-details"> 
                        <i class="fas fa-truck"></i>
                        <div class="costo">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h3 class="descripciones">Samsung Galaxy S10</h3>
                    </div> 
                </div>
                <div class="box">
                    <img class="img" src="images/img-tv-samsung-smart.jpg">
                    <div class="box-details"> 
                        <i class="fas fa-truck"></i>
                        <div class="costo">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h3 class="descripciones">SmartTV Samsung 43"</h3>
                    </div>
                </div>
            </div>
        </main>
        
        <footer>
            <div class="footer-elements">
                <div>
                    <i class="fas fa-credit-card"></i>
                    <br>
                    <b>Pagá con tarjeta o en efectivo</b>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>    
                <div>
                    <i class="fas fa-gift"></i>
                    <br>
                    <b>Envío gratis desde $2.500</b>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                    <i class="fas fa-user-shield"></i>
                    <br>
                    <b>Seguridad, de principio a fin</b>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        por que estás siempre protegid@</p>
                </div>
            </div>
            <small>Copyright @ 1999-2020 MercadoLiebre S.R.L.</small>
        </footer>
    </body>
</html>