<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MercadoLiebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    
    <body>
        <header>
            <div class="cabecera">
                <div class="encabezado">
                    <div class="logo">
                        <a href="/">
                            <img src="images/logo-mercado-liebre.svg" alt="logoMercadoLiebre">
                        </a>    
                    </div>

                    <div class="barra-busqueda">
                        <div>
                            <input placeholder="Buscar productos, marcas">
                            <button><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            

                <div class="mensaje">
                    <i class="fas fa-hand-holding-usd"> Comprá en cuotas y sin tarjeta de crédito</i>
                </div>
            </div>
            
            <div class="navbars">
                <ul class="site-options" style="list-style-type:none;">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="login-navbar" style="list-style-type:none;">
                    <li><a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        
        <main>
            <div>
                <form action="/" method="POST">
                    <div>
                        <label for="usuario">Nombre de usuario:</label>
                        <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuari@">
                    </div>
                    <div>
                        <label for="contrasena">Contraseña</label>
                        <input type="password" name="contrasena" placeholder="Contraseña">
                    </div>
                    
                    <div class="buttons">
                        <button class="button-submit" type="button">Enviar</button>
                    </div>
                </form>                
            </div>
        </main>
        
        <footer>
            <div class="footer-elements">
                <div>
                    <i class="fas fa-credit-card"></i>
                    <br>
                    <b>Pagá con tarjeta o en efectivo</b>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>    
                <div>
                    <i class="fas fa-gift"></i>
                    <br>
                    <b>Envío gratis desde $2.500</b>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                    <i class="fas fa-user-shield"></i>
                    <br>
                    <b>Seguridad, de principio a fin</b>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        por que estás siempre protegid@</p>
                </div>
            </div>
            <small>Copyright @ 1999-2020 MercadoLiebre S.R.L.</small>
        </footer>
    </body>
</html>
    